@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.parent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.parent > * {
  flex: 1 1 auto;
  align-items: center;
}

.header-cont,
.footer-cont {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  padding: 8px 10px;
}

header {
  width: 80%;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* First Start */
.first-cont {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.first-section {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.first-section img {
border-radius: 10px;
}
.first-section h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}
.first-section p {
  font-size: 18px;
  color: #e5e7eb;
}
.first-button {
  margin-top: 15px;
  background-color: #3882f6;
  color: #e5e7eb;
  border: none;
  font-weight: 500;
}

.left {
  width: 50%;
}
.right {
  width: 50%;
}
.right img {
  height: 300px;
  border-radius: 50px;
}
/* First End */

/* Second Start */
.second-cont {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-section h2 {
  font-size: 36px;
  font-weight: 800;
  margin-top: 20px;
}
.imgs {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  flex-wrap: wrap;

}

.imgs img {
  border-radius: 50px;
  border: #3882f6 solid 5px;
}
.imgs > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex: 1 1 20%;
}

.imgs p {
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
/* Second End */

/* Third Start */
.third-cont {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-section {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}
.author {
  font-weight: bold;
  align-self: flex-end;
  font-size: 20px;
}
/* Third End */

/* Forth Start */
.forth-cont {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.forth-section {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.call {
  background-color: #3882f6;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  gap: 90px;
  color: #e5e7eb;
  border-radius: 20px;
}

.call-text h3 {
  font-weight: 700;
}
.button {
  flex-shrink: 0;
  padding: 8px 20px;
  border-radius: 10px;
}
.second-button {
  background-color: #3882f6;
  color: #e5e7eb;
  border: #e5e7eb solid 2px;
  font-weight: 500;
}
/* Forth End */

footer {
  padding: 20px;
}
